@import url(http://fonts.googleapis.com/css?family=Play);

#iceberg {
  color: #a7abbe;
  background-color: #242942;
  /*background: -moz-linear-gradient(270deg, #242942, #121421 50%, #121421, #171b2b 95%);*/
  /*background: -webkit-linear-gradient(270deg, #242942, #121421 50%, #121421, #171b2b 95%);*/
  /*background: linear-gradient(180deg, #242942, #121421 50%, #121421, #171b2b 95%);*/
}

#iceberg .markdown-body,
#iceberg p {
  font-family: 'Play', sans-serif;
}

#iceberg *::selection {
  background-color: rgba(145,192,202,0.5);
}

#iceberg *::-moz-selection {
  background-color: rgba(145,192,202,0.5);
}

#iceberg a {
  color: #fff;
  text-decoration: underline;
}

#iceberg a:hover {
  background: #444;
  text-decoration: none;
}

#iceberg h1,
#iceberg h2,
#iceberg h3,
#iceberg h4,
#iceberg h5,
#iceberg h6 {
  font-weight: 900;
  color: #d3d5de;
  border: none;
}

#iceberg blockquote {
  color: #91c0ca;
  border-color: #91c0ca;
}

#iceberg .hljs {
  color: #91c0ca;
}

#iceberg mark {
  background-color: #91c0ca;
  color: #000;
  padding: 3px 5px;
  font-family: 'Roboto Mono', Monaco, courier, monospace;
  font-size: 0.8em;
  font-weight: bold;
}

#iceberg dl dt {
  color: #d3d5de;
  font-weight: bold;
  font-style: normal;
j
