#vscode {
  color: #ABB2BF;
  background-color: #2C323C;
}

#vscode,
#vscode p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#vscode a {
  color: #61AFEF;
}

#vscode h1,
#vscode h2,
#vscode h3,
#vscode h4,
#vscode h5,
#vscode h6 {
  font-weight: 600;
  color: #E06C75;
}

#vscode table,
#vscode thead,
#vscode tbody,
#vscode tr,
#vscode th,
#vscode td {
  border-color: #2C323C;
}

#vscode h1,
#vscode hr {
  border-color: #2C323C;
}

#vscode blockquote {
  color: #5C6370;
  font-style: italic;
  background: transparent;
  border-color: #5C6370;
}
